* {
    margin: 0;
    padding: 0;
}

.ul {
    min-height: 800px;
    // background: chocolate;
    border: 1px solid;
    width: 1220px;
    margin: 0 auto;
}

.ul li {
    list-style: none;
}

// .ul li {
//     width: 200px;
//     height: 400px;
//     background-color: cornflowerblue;
// }