// 重置样式 
figure,
figcaption,
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend,
input {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

body {
    font-family: "微软雅黑";
}

input,
a {
    outline: none;
}

i {
    font-style: normal;
}

h2 {
    font-weight: 100;
}

// ---------------
.submenu,
.sub-list,
.banner,
.main,
.bottom,
.footer,
.nav {
    width: 1226px;
    margin: 0 auto;
}

.lunbo4 img {
    width: 1226px;
    height: 460px;
}

// header---------------
.header {
    height: 120px;
}

//header-pic-------------
.header-pic {
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/a2a9e6db5e3c5374301827435d8595c6.jpg?w=5120&h=240);
    position: absolute;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto 120px;
    height: 120px;
}

//nav-------------
.nav-wrap {
    background-color: #333;
}

.nav {
    height: 40px;
    background-color: #333;
    overflow: hidden;
    font-size: 12px;
}

.nav li {
    float: left;
    margin-left: 4.29px;
}

.nav ul li a {
    display: block;
    color: #b0b0b0;
    line-height: 40px;
    text-align: center;
    height: 40px;
}

.nav ul li:hover a {
    color: white;
}

.nav li span {
    margin: 0 .3em;
}

.nav-right {
    height: 40px;
    // width: 300px;
    // background-color: yellow;
    float: right;
}

.nav-right ul li a {
    height: 40px;
    display: block;
}

.nav-ul li:nth-child(3) {
    width: 84px;
}

.nav-right .nav-ul-gwc a {
    color: #f5f5f5;
    width: 120px;
}

.nav-ul-gwc {
    background: #424242;
}

// submenu
.submenu-wrap {
    background-color: #fff;
}

.submenu {
    height: 100px;
    // background-color: cornflowerblue;
    overflow: hidden;
    // position: relative;
}

.hover-list {
    height: 236px;
    background-color: aquamarine;
    position: absolute;
    z-index: 10000;
    width: 1226px;
    // top: 262px;
    display: none;
    top: 262px;
}

.hover-list:hover {
    display: block;
}

// .sub_nav_list li:hover.hover-list {
//     transform: translateY(100px);
// }
.submenu-logo {
    float: left;
    width: 55px;
    height: 55px;
    border: 1px solid;
    // background-color: #ff6700;
    margin-top: 22px;
    overflow: hidden;
    background: url(../images/mi-logo.png) no-repeat 50% 50%;
    background-color: #ff6700;
}

// .submenu-logo :hover {
//     background: url(../images/mi-home.png) no-repeat 50% 50%;
// }
.submenu-nav {
    // width: 165px;
    // height: 100px;
    // background-color: yellowgreen;
    width: 850px;
    height: 100px;
    float: left;
    padding: 12px 0 0 30px;
    box-sizing: border-box;
}

.sub_nav_list li {
    float: left;
    font-size: 16px;
    color: black;
}

.sub_nav_list li a {
    display: block;
    padding: 26px 10px 38px;
    // border: 1px solid;
}

.sub_nav_list li:hover a {
    color: #ff6700;
}

.sub_nav_list li:nth-child(1) {
    width: 127px;
    padding-right: 15px;
    height: 100px;
    background: url(../images/clogo.jpg)no-repeat center;
}

.header-seach {
    width: 296px;
    height: 50px;
    // background-color: blueviolet;
    float: right;
    margin-top: 25px;
}

.header-seach input[type=text] {
    width: 245px;
    height: 50px;
    border: 0;
    box-sizing: border-box;
    border: #e0e0e0 1px solid;
    float: left;
}

.header-seach p {
    height: 50px;
    width: 50px;
    // background-color: brown;
    border: 0;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border: #e0e0e0 1px solid;
    box-sizing: border-box;
}

// banner
.banner {
    height: 460px;
    background-color: purple;
    position: relative;
}

.banner-list-ul {
    // height: 420px;
    width: 234px;
    height: 460px;
    font-size: 14px;
    padding: 20px 0;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: #333;
    background: rgba(0, 0, 0, .3);
}

.banner-list-ul li a {
    color: #fff;
    display: block;
    height: 42px;
    font-size: 14px;
    line-height: 42px;
    padding-left: 28px;
    padding-right: 22px;
    box-sizing: border-box;
    opacity: 1;
}

.banner-list-ul li a:hover {
    background-color: #ff6700;
}

.banner-list-ul li i {
    // font-weight: 700;
    float: right;
}

// sub-list
.sub-list {
    height: 170px;
    // background-color: red;
    margin-top: 14px;
    // margin-left: ;
}

.sub-list1 {
    padding: 3px;
    width: 236px;
    height: 170px;
    background-color: #5f5750;
    box-sizing: border-box;
    float: left;
    flex-wrap: wrap;
    // padding: 14px;
}

.sub-list1 li {
    // border: 1px solid;
    width: 74px;
    height: 80px;
    float: left;
    text-align: center;
    font-size: 12px;
    // text-align: center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.sub-list1 li a {
    // height: 80px;
    // width: 74px;
    // border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c9c6c4;
    // color: #fff;
    // font-size: 12px;
}

.sub-list li img {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.sub-list-img1 {
    width: 316px;
    height: 170px;
    background-color: salmon;
    float: left;
    margin-left: 14px;
    transition: all .5s;
}

.sub-list-img1 img {
    width: 316px;
}

.sub-list-img2 img {
    width: 316px;
}

.sub-list-img3 img {
    width: 316px;
}

.sub-list-img2 {
    @extend .sub-list-img1;
}

.sub-list-img3 {
    @extend .sub-list-img1;
}

.sub-list-img1:hover {
    box-shadow: 2px 3px 20px #888888;
    // transform: translateY(-5px);
}

.sub-list-img2:hover {
    box-shadow: 2px 3px 20px #888888;
    // transform: translateY(-5px);
}

.sub-list-img3:hover {
    box-shadow: 2px 3px 20px #888888;
    // transform: translateY(-5px);
}

// main
.main {
    min-height: 800px;
    // background-color: saddlebrown;
}

.main-warp {
    background-color: #f5f5f5;
}

.main-shop-title {
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    height: 58px;
    // background-color: salmon;
}

.main-shop {
    height: 340px;
    // background-color: seagreen;
}

.main-shop-time {
    height: 340px;
    width: 234px;
    background: #f1eded;
    float: left;
}

.round {
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 40px;
    // background-color: aqua;
}

.main-shop-time img {
    margin: 25px auto;
}

.end {
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
    text-align: center;
}

.main-shop-time span {
    display: block;
    float: left;
    height: 46px;
    width: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    text-align: center;
}

.main-shop-time i {
    display: inline-block;
    float: left;
    width: 15px;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
    text-align: center;
}

.time {
    height: 46px;
    width: 168px;
    // background-color: bisque;
    margin: 28px auto 0;
}

.main-shop-time::before {
    content: "";
    display: block;
    width: 234px;
    border-top: 1px solid #ff6700;
}

.main-shop-banner {
    width: 978px;
    height: 340px;
    // background-color: slateblue;
    float: right;
}

.swiper-container2 {
    height: 340px;
    width: 978px;
    // background-color: blanchedalmond;
    overflow: hidden;
    .swiper-slide {
        width: 978px !important;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        div {
            width: 234px;
            height: 339px;
            background-color: #fff;
            float: left;
            position: relative;
            text-align: center;
            // color: #757575;
        }
        a {
            display: block;
            height: 300px;
            padding-top: 39px;
            position: relative;
        }
        img {
            display: block;
            // position: absolute;
            // top: 0;
            // left: 0;
            // bottom: 0;
            // right: 0;
            // margin: 0 auto;
            width: 160px;
            height: 160px;
            // background-color: #ff6700;
            margin: 0 auto 22px;
        }
        p {
            font-size: 14px;
            font-weight: 400;
            text-overflow: ellipsis;
            color: #212121;
            overflow: hidden;
            white-space: nowrap;
            margin: 0 20px 3px;
        }
        .swiper-p {
            height: 18px;
            margin: 0 20px 12px;
            font-size: 12px;
            text-overflow: ellipsis;
            color: #b0b0b0;
            overflow: hidden;
            white-space: nowrap;
        }
        .price span {
            color: #ff6709;
        }
        .price del {
            color: #b0b0b0;
        }
    }
}

// .swper-slide div {
//     width: 234px;
//     height: 339px;
//     background-color: blue;
// }
// .swiper-wrapper div {
//     width: 234px;
//     height: 339px;
//     background-color: blue;
// }
.main-news {
    height: 120px;
    background: url(../images/news.webp);
    margin: 22px 0;
}

.main-vadio {
    height: 357px;
    // background-color: steelblue;
}

.main-vadio-title {
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    height: 58px;
    // background-color: salmon;
}

.main-vadio-list {
    height: 285px;
    // background-color: turquoise;
    display: flex;
    justify-content: space-between;
}

.main-vadio-list li {
    float: left;
    width: 296px;
    height: 285px;
    background-color: #fff;
    transition: all .7s;
}

.main-vadio-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0px 2px 15px #888888;
}

.main-vadio-list li img {
    display: block;
    width: 296px;
    height: 180px;
    // background-color: #fff;
}

.main-vadio-list li a {
    display: block;
    height: 296px;
}

.main-vadio-list li h3 {
    margin-top: 24px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// swiper
.swiper-container1 {
    height: 460px;
}

.bottom {
    height: 332px;
    // background-color: aquamarine;
}

.bottom-top {
    height: 80px;
    // background-color: bisque;
    // line-height: 80px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
}

.bottom-title {
    height: 25px;
    margin-top: 27px;
}

.bottom-title span {
    margin-right: 6px;
    font-size: 24px;
    margin-right: 6px;
    line-height: 24px;
    vertical-align: -4px;
}

.bottom-title li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    // background-color: cadetblue;
}

.bottom-link {
    height: 252px;
    // background-color: coral;
    padding: 40px 0;
    box-sizing: border-box;
    font-size: 12px;
}

.bottom-link li {
    margin: 10px 0;
}

.bottom-link li:nth-of-type(1) {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

.link-1 {
    float: left;
    width: 160px;
    height: 116px;
}

.link-1 li {
    color: #333;
}

.link-2 {
    float: left;
    width: 160px;
    height: 116px;
}

.link-3 {
    float: left;
    width: 160px;
    height: 116px;
}

.link-4 {
    float: left;
    width: 160px;
    height: 172px;
}

.link-5 {
    float: left;
    width: 160px;
    height: 144px;
}

.link-6 {
    float: left;
    width: 160px;
    height: 116px;
}

.kefu {
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
    position: relative;
}

.kefu p:nth-of-type(1) {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
    height: 27px;
}

.kefu p:nth-of-type(2) {
    margin: 0 0 5px 0;
    font-size: 12px;
    height: 19px;
}

.kefu p:nth-of-type(3) {
    font-size: 12px;
    width: 120px;
    height: 30px;
    border: 1px solid #ff6700;
    color: #ff6700;
    line-height: 30px;
    text-align: center;
    margin: 10px auto;
}

.kefu p:nth-of-type(4) {
    height: 21px;
    // background-color: aqua;
    text-align: center;
}

// .kefu p:nth-of-type(4) span:hover {
//     color: #ff6700;
// }
.weixin:hover {
    color: rebeccapurple;
}

.saoyisao {
    display: none;
    height: 100px;
    width: 100px;
    border: 1px solid;
    position: absolute;
    right: 31px;
    top: 127px;
    // background: url(../images/download.png);
}

.saoyisao img {
    width: 100px;
}

.kefu p:nth-of-type(3):hover {
    background-color: #ff6700;
    color: #fff;
}

.bottom-link li:hover a {
    color: #ff6700;
}

.bottom-title li:hover a {
    color: #ff6700;
}

// footer
.footer {
    height: 247px;
    // background-color: chocolate;
    overflow: hidden;
}

.footer-warp {
    background-color: #f5f5f5;
}

.footer-sic {
    height: 138px;
    // background-color: royalblue;
    margin-top: 35px;
}

.footer-logo img {
    width: 55px;
    height: 55px;
}

.footer-logo {
    width: 55px;
    height: 55px;
    float: left;
}

.footer-text {
    height: 91px;
    // background-color: salmon;
    color: #b0b0b0;
    padding-left: 67px;
    font-size: 12px;
}

.footer-text p:nth-of-type(1) {
    line-height: 18px;
}

.footer-text p:nth-of-type(2) a {
    color: #b0b0b0;
}

.footer-text p:nth-of-type(3) a {
    color: #b0b0b0;
}

.footer-text p:nth-of-type(5) a {
    color: #b0b0b0;
}

.footer-pic {
    height: 28px;
    // background-color: sandybrown;
    margin: 4px 0 15px;
    padding-left: 67px;
}

.footer-pic img {
    width: 85px;
    height: 28px;
    display: block;
    float: left;
}

.wx img {
    width: 105px;
    height: 40px;
    position: relative;
    bottom: 10px;
}

.msg {
    height: 19px;
    // background-color: seagreen;
    margin-top: 34px;
    line-height: 19px;
    color: slategrey;
    text-align: center;
    font-size: 19px;
}

.footer a:hover {
    color: #ff6700;
}

// row 手机
.row {
    height: 614px;
    // background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.row-title {
    height: 58px;
    // background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-title h4 {
    font-weight: 200;
    font-size: 22px;
    color: #333;
    line-height: 58px;
    // float: left;
}

.more span {
    font-size: 29px;
    position: relative;
    bottom: -5px;
}

.more :hover {
    color: #ff6700;
}

.row-left {
    width: 234px;
    height: 614px;
    // background-color: coral;
    transition: all .7s;
}

.row-left:hover {
    transform: translateY(-5px);
}

.row-right {
    width: 978px;
    height: 614px;
    // background-color: cornflowerblue;
}

.row-list li {
    width: 234px;
    height: 300px;
    background-color: #fff;
    text-align: center;
    transition: all .7s;
}

.row-list li:hover {
    box-shadow: 0px 2px 15px #888888;
    transform: translateY(-5px);
}

.row-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row-list li:nth-of-type(5) {
    margin-top: 14px;
}

.row-list li:nth-of-type(6) {
    margin-top: 14px;
}

.row-list li:nth-of-type(7) {
    margin-top: 14px;
}

.row-list li:nth-of-type(8) {
    margin-top: 14px;
}

.row-list img {
    width: 160px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 16px;
}

// .row-list li span {
//     display: inline-block;
//     height: 300px;
//     width: 0px;
//     vertical-align: middle;
//     background-color: cyan;
// }
.row-list li p {
    margin-top: 10px;
    margin-bottom: 2px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.row-list li b {
    font-weight: normal;
    font-size: 12px;
    color: #b0b0b0;
    height: 18px;
}

.row-list li i {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #ff6700;
}

.row-list li del {
    margin-left: .5em;
    color: #b0b0b0;
}

// .tanchu {
//     height: 543px;
//     width: 800px;
//     background-color: aquamarine;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     margin: 0 auto;
//     z-index: 10;
// }
.louti {
    height: 454px;
    width: 84px;
    position: fixed;
    right: 0;
    top: 320px;
    background-color: #fff;
    // border: 1px solid #f5f5f5;
    text-align: center;
}

.louti img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
}

.louti a {
    display: block;
    width: 84px;
    height: 90px;
    margin-bottom: 1px;
    color: #757575;
    font-size: 14px;
    border: 1px solid #f5f5f5;
}

.louti a p {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto 8px;
    padding-top: 18px;
    // background-color: brown;
}

.louti a img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
}

.top {
    background-color: #fff;
    margin-top: 10px;
}

.banner {
    position: relative;
}

// 选项卡
// .banner-list-ul {
//     .erji {
//         width: 992px;
//         height: 460px;
//         background-color: brown;
//         position: absolute;
//         left: 236px;
//         top: 0;
//     }
// }
.banner-list-ul li ul {
    position: absolute;
    width: 992px;
    height: 460px;
    background-color: brown;
    position: absolute;
    left: 236px;
    top: 0;
    display: none;
}